body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
.app {
    display: grid;
    grid-template-columns: 15% 1fr;
    height: 100vh;

    .sidebar {
        grid-column: 1;
        height: 100%;
    }

    .pages {
        display: grid;
        grid-template-rows: 86vh auto;
        overflow-y: scroll;
        grid-column: 2;
        background-color: gray;
        text-align: center; 
    }
}